doctype html
html
  head
    title IMG-to-PDF Converter
    meta(charset='UTF-8')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/index-view.css')
    link(rel='icon' href='/assets/pdf.svg')
    script(type='module' src='/javascripts/sort.js' defer)
  body
    main
      header
        h1
          a(href='/') Image To PDF Converter
      article
        p 
          a(href='/new') New
        div
          each image in images
           img(src=`/images/${image}` data-name=image width='200' height='200')
        p
          a(class='convert')
            span(class='text') Convert to PDF
            span(class='loader')
        p
          a(class='download' download) Download
      footer
        p
          code &copy; 2023 - Developed by: FKoler